.photoviewer-modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  z-index: 2;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);

  .content-img {
    width: 98%;
    height: 85%;
    padding: 1%;
    display: flex;
    justify-content: center;
    margin: 0;

    .closeBtn {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 5em;
      margin: 0;
      color: #FFFFFF;
      cursor: pointer;
    }

    img {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.8);
    }
  }

  .thumbnails-container {
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    height: 10%;
    display: flex;
    justify-content: center;
    background: rgba(40, 40, 40, 0.5);
    margin: 0;

    .thumbnail {
      display: flex;
      align-self: center;
      padding: 0 10px;
      background: none;
    }

    .thumbnail img {
      height: 70px;
      cursor: pointer;
    }
  }
}
