<!-- Toolbar -->
<div class="wrapper">
  <div class="container-fluid">

    <app-header-nav-panel></app-header-nav-panel>

    <!-- на месте этого тега будет компонент, который мы запросим -->
    <router-outlet></router-outlet>

  </div>
</div>
