<!-- Закинуть это в компонент инвентаризации -->
<div class="main-content-inv-app">
  <app-nav-panel></app-nav-panel>

  <div class="content-container">
    <app-search-bar></app-search-bar>
    <h1 class="part-header">Предметы</h1>
    <div class="content">
      <app-items-list></app-items-list>
      <app-item-panel></app-item-panel>
    </div>
  </div>

  <app-photoviewer></app-photoviewer>

</div>
<!-- Закинуть это в компонент инвентаризации -->
