<div [ngClass]="isHidden ? 'item-panel-hidden' : 'item-panel-show'" class="item-panel" appOutsideClick="hidePanel()">
  <div class="item-panel-head">
    <div class="item-panel-head-minimize">
      <span class="material-icons"> keyboard_arrow_left </span>
    </div>
    <div class="item-panel-head-tabs">
      <div class="tabs-info">
        <span class="material-icons"> info </span>
        <p>Информация</p>
      </div>
      <div class="tabs-files">
        <span class="material-icons"> insert_drive_file </span>
        <p>Файлы</p>
      </div>
    </div>
  </div>
  <div class="item-panel-content">
    <div class="item-panel-photoContainer" *ngIf="item && item.photos.length != 0; else noPhotos">
      <div class="photoContainer-background">
        <img src="http://127.0.0.1:8000{{ item.photos[0].photo_file }}" alt="" class="panel-item-photo">
      </div>
    </div>
    <ng-template #noPhotos>
      <div class="item-panel-photoContainer">
        <div class="photoContainer-background" >
          <img src="http://127.0.0.1:8000/static_content/plugs/photo_thumbnail.png" alt="" class="panel-item-photo">
        </div>
      </div>
    </ng-template>

    <div *ngIf="item != undefined" class="item-panel-descriptionContainer">
      <h1 class="item-name" *ngIf="item != undefined">{{ item.name }}</h1>
      <div class="descriptionContainer-info" *ngFor="let param of item.parameters">
        <div class="descriptionContainer-info-row">
          <div class="col">
            <h1>{{ param.item_description_template }}</h1>
          </div>
          <div class="col">
            <label *ngIf="param.value || (param+'').length >= 0">
              <input type="text" value="{{ param.value }}" disabled>
            </label>
            <label *ngIf="param.value_bool">
              <input type="checkbox" value="{{ param.value_bool }}" disabled>
            </label>
            <label *ngIf="param.value_date">
              <input type="date" value="{{ param.value_date }}" disabled>
            </label>
            <label *ngIf="param.value_integer">
              <input type="number" value="{{ param.value_integer }}" disabled>
            </label>
            <label *ngIf="param.value_float">
              <input type="number" value="{{ param.value_float }}" disabled>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item-panel-tools">
    <div class="item-panel-tools-tabs">
      <div class="tools-edit">
        <span class="material-icons"> edit </span>
      </div>
      <div class="tools-move">
        <span class="material-icons"> forward </span>
      </div>
    </div>
    <div class="tools-remove">
      <span class="material-icons"> delete </span>
    </div>
  </div>
</div>
