.item-panel-show {
  right: 0;
  transition: .5s;
}

.item-panel-hidden {
  right: -50%;
  transition: .5s;
  display: none;
}

.item-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  min-width: 320px;
  max-width: 50%;
  height: calc(100% - 50px);;
  z-index: 1;
  background: #e8e8e8;

  .item-panel-head {
    width: 100%;
    display: flex;
    background: #cccccc;
    padding: 5px;
    font-size: 1.5em;

    .item-panel-head-tabs {
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;

      .tabs-info {
        display: flex;
      }

      .tabs-files {
        display: flex;
        margin-left: 25px;
      }
    }

    .item-panel-head-tabs span, .item-panel-head-tabs p {
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .item-panel-head-minimize {
      .material-icons {
        font-size: 2em;
      }
    }
  }

  .item-panel-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .item-panel-photoContainer {
      padding: 0;
      margin: 0;
      display: flex;
      height: 30%;
      flex-wrap: wrap;

      .photoContainer-background {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background: #000000;
      }

      .panel-item-photo {
        height: 100%;
      }
    }

    .item-panel-descriptionContainer {
      height: 100%;
      margin-bottom: 100px;
      overflow-y: auto;
      padding: 0 15px;

      .item-name {
        margin: 0;
        padding: 10px 0;
        font-size: 2em;
      }


      .descriptionContainer-info {
        padding: .5em 10px;

        .descriptionContainer-info-row {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          h1 {
            font-size: 1.2em;
            line-height: 1em;
            //padding: 5px 0;
          }

          .col {
            width: 50%;

            h1, h2, h3, h4, h5, h6, p {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .item-panel-tools {
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    position: absolute;
    background: #cccccc;
    padding: 5px 0;
    justify-content: space-between;

    .item-panel-tools span, .item-panel-tools p {
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .item-panel-tools-tabs {
      margin-left: 15px;
      display: flex;
      justify-content: space-between;

      .tools-move {
        padding-left: 25px;
      }
    }

    .tools-remove {
      padding-right: 25px;
    }
  }

  .item-panel-tools-tabs span, .tools-remove span{
    font-size: 2.5em;
  }
}
