<!-- Закинуть это в компонент инвентаризации -->
<div class="main-content-inv-app">

  <div class="content-container">
    <h1 class="part-header">Добавьте предмет</h1>
    <div class="content">
<!--      Добавить сюда вывод формы добавления предмета -->
      <form class="form" [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="form-back">
            <button mat-button routerLink="/">
              <span class="material-icons">
              keyboard_backspace
              </span>
            </button>
          </div>
          <div class="form-title">
            <h2>Общие сведения</h2>
          </div>
          <div class="form-body">
            <mat-form-field appearance="fill">
              <mat-label>Категория</mat-label>
              <mat-select #selectedCategory formControlName="item_form-category" (selectionChange)="onCategoryChange(selectedCategory.value)">
                <mat-option>--</mat-option>
                <mat-option value="option" *ngFor="let category of categories" [value]="category">
                  {{ category.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Наименование</mat-label>
              <input matInput formControlName="item_form-name">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Дата покупки</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="item_form-purchase_date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Количество</mat-label>
              <input matInput type="number" placeholder="0" value="0" formControlName="item_form-count">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Цена</mat-label>
              <input matInput formControlName="item_form-price">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="form-title">
            <h2>Местоположение</h2>
          </div>
          <div class="form-body">
            <mat-form-field appearance="fill">
              <mat-label>Недвижимости</mat-label>
              <mat-select #selectedBuilding formControlName="item_form-building" (selectionChange)="onBuildingChange(selectedBuilding.value)">
                <mat-option>--</mat-option>
                <mat-option value="option" *ngFor="let building of buildings" [value]="building">
                  {{ building.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Комната</mat-label>
              <mat-select  #selectedRoom formControlName="item_form-room" (selectionChange)="onRoomChange(selectedRoom.value)">
                <mat-option>--</mat-option>
                <mat-option value="option" *ngFor="let room of rooms" [value]="room">
                  {{ room.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Контейнер</mat-label>
              <mat-select formControlName="item_form-container">
                <mat-option value="option">--</mat-option>
                <mat-option value="option" *ngFor="let container of containers" [value]="container">
                  {{ container.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group" [className]="dynamicIsVisible ? 'form-group' : 'hide'">
          <div class="form-title">
            <h2>Общие сведения</h2>
          </div>
          <div class="form-body" formArrayName="itemListDescription">

            <!-- TODO: Сделать здесть проверку того, какой тип данных прилетает -->
            <div class="form-row"
                 *ngFor="let itemControl of addItemForm.controls.itemListDescription['controls'];
                         let i = index;">
              <div *ngIf="dynamicFieldsData[i].is_bool; then drawBool"></div>
              <div *ngIf="dynamicFieldsData[i].is_date; then drawDate"></div>
              <div *ngIf="dynamicFieldsData[i].is_float; then drawFloat"></div>
              <div *ngIf="dynamicFieldsData[i].is_integer; then drawInt"></div>
              <div *ngIf="!dynamicFieldsData[i].is_bool && !dynamicFieldsData[i].is_date &&
                !dynamicFieldsData[i].is_float && !dynamicFieldsData[i].is_integer; then drawText">
              </div>
              <!-- Обычное поле ввода -->
              <ng-template #drawText>
                <mat-form-field appearance="fill">
                  <mat-label>{{ dynamicFieldsData[i].key }}</mat-label>
                  <input type="text" matInput [formControl]="addItemForm.controls.itemListDescription['controls'][i]">
                </mat-form-field>
              </ng-template>
                <!-- Числовое -->
                <ng-template #drawInt>
                  <mat-form-field>
                    <input type="number" matInput [formControl]="addItemForm.controls.itemListDescription['controls'][i]">
                  </mat-form-field>
                </ng-template>
                <!-- Числовое с остатком -->
                <ng-template #drawFloat>
                  <mat-form-field>
                    <input type="number" matInput [formControl]="addItemForm.controls.itemListDescription['controls'][i]">
                  </mat-form-field>
                </ng-template>
                <!-- Булевое -->
                <ng-template #drawBool>
                  <mat-checkbox [formControl]="addItemForm.controls.itemListDescription['controls'][i]" style="display: none">
                    {{ dynamicFieldsData[i].key }}
                  </mat-checkbox>
                </ng-template>
                <!-- Дата пикер -->
                <ng-template #drawDate>
                  <mat-form-field>
                    <mat-label>{{ dynamicFieldsData[i].key }}</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="addItemForm.controls.itemListDescription['controls'][i]">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ng-template>
            </div>
          </div>
        </div>

        <div class="form-group" [className]="photosIsVisible ? 'form-group' : 'hide'">
          <div class="form-title">
            <h2>Фотографии</h2>
          </div>
          <div class="form-body">
            <p>Здесь будет находиться добавление фотографии к предмету</p>
          </div>
        </div>

        <button mat-raised-button type="submit">Добавить предмет</button>
      </form>
    </div>
  </div>

  <app-photoviewer></app-photoviewer>

<!--  <app-add-item></app-add-item>-->
</div>
<!-- Закинуть это в компонент инвентаризации -->
