.content-container {
  padding: 0;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.form {
  min-width: 320px;
  max-width: 720px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  margin-bottom: 50px;

  .form-group {
    background: #DBDBDB;
    min-width: 320px;
    max-width: 720px;
    padding: 30px 30px 15px 30px;
    margin: 10px 0;
  }

  .form-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-raised-button {
    background: #C241FF;
    color: #FFFFFF;
  }

  .form-back {
    position: absolute;
    left: -65px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
