<div class="nav-panel-container">
  <div class="nav-panel">

    <mat-form-field appearance="fill">
      <mat-label>Здание</mat-label>
      <mat-select #buildingSelect (selectionChange)="onSelectedBuildingChange(buildingSelect.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let building of buildings" [value]="building">
          {{ building.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Помещение</mat-label>
      <mat-select #roomSelect (selectionChange)="onSelectedRoomChange(roomSelect.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let room of rooms" [value]="room" >
          {{ room.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="nav-panel_containers-list">
      <mat-selection-list #containersList [(ngModel)]="selectedContainers" (ngModelChange)="onSelectedContainerChange($event)">
        <mat-list-option *ngFor="let container of containers" [value]="container">
          {{ container.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="nav-panel_bottom-container">
      <button mat-button [matMenuTriggerFor]="menu">Добавить</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="add-item">Предмет</button>
        <button mat-menu-item disabled>Недвижимость</button>
        <button mat-menu-item disabled>Комнату</button>
        <button mat-menu-item disabled>Контейнер</button>
      </mat-menu>
    </div>
  </div>
</div>
