.nav-panel-container {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 50px;
  width: 150px;
  height: 95vh;
  background: #E8E8E8;

  .nav-panel {
    height: 100%;
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

  .nav-panel_containers-list {
    height: 70%;
  }

  .nav-panel_bottom-container {
    .mat-button {
      width: 150px;
      position: absolute;
      bottom: 15px;
      background: #C241FF;
      color: #FFFFFF;
    }
  }
}
