<div class="search-panel">
  <div class="search-bar">
    <form class="form-inline" (ngSubmit)="updateItemsList($event)">
      <input type="text" matInput (keydown)="search($event)"
             (keyup.enter)="updateItemsList($event)"
             [formControl]="searchControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="!items; else existItems" class="is-loading">Пусто</mat-option>
        <ng-template #existItems>
          <mat-option (click)="search($event, item)" *ngFor="let item of items" [value]="item">
            {{ item.name }}
          </mat-option>
        </ng-template>
      </mat-autocomplete>
      <button type="button" class="search-bar-btnFilter">
        <span class="material-icons"> filter_alt </span>
      </button>
      <button type="submit" (click)="updateItemsList($event)" class="search-bar-btnSubmit">
        <span class="material-icons">
        arrow_forward
        </span>
      </button>
    </form>

    <div class="filter-layout">
      <div class="filter-triangle"></div>
      <div class="filter-header">
        <h1>Улучшить поиск</h1>
      </div>
      <div class="filter-category">
        <div class="filter-category-header">
          <h3>Категория</h3>
        </div>
        <div class="filter-category-body">
          <p>Выбранная категория</p>
        </div>
        <button class="btn">Категории</button>
      </div>
      <div class="filter-tags">
        <div class="filter-tags-header">
          <h3>Теги</h3>
        </div>
        <div class="filter-tags-body">
          <div class="tag">
            <div class="content">
              <p>Важный тег</p>
            </div>
            <div class="close"> × </div>
          </div>
        </div>
        <button class="btn">Теги</button>
      </div>
    </div>
  </div>
</div>
