.search-panel {
  position: fixed;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  top: 50px;
  background: #dbdbdb;
  padding: 5px 0;
  z-index: 1;

  .search-bar {
    margin-left: -150px;

    .form-inline {
      display: flex;
    }

    .mat-input-element {
      background: #FFFFFF;
    }

    .mat-input-element:focus {
      background: #f6f6f6;
      transition: 0.4s;
      border: 1px solid #C241FF;
    }

    button {
      background: #FFFFFF;
      border: none;
      padding: 10px;
    }

    .search-bar-btnSubmit {
      border-left: #CDCDCD solid 1px;
      color: #9F9F9F;
      cursor: pointer;
    }

    .search-bar-btnFilter span, .search-bar-btnSubmit {
      font-size: 24px;
    }

    .search-bar-btnFilter:hover, .search-bar-btnSubmit:hover {
      background: #eeeeee;
      transition: 0.2s;
    }
  }

  .form-control {
    padding: 10px;
    border: none;
  }

  .filter-layout {
    display: none;
    position: absolute;
    width: 300px;
    background: #FFFFFF;
    left: 38.5%;
    top: 75px;
    transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
    color: #000;
    pointer-events: auto;
    padding: 10px;
    // Shadow
    -webkit-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 30px -15px rgba(0,0,0,0.75);

    .filter-triangle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12.5px 25px 12.5px;
      position: absolute;
      top: -25px;
      right: 45px;
      border-color: transparent transparent #ffffff transparent;
    }

    .filter-header h1 {
      font-size: 1.8em;
      border-bottom: 1px solid #CDCDCD;
    }

    .filter-tags-header {
      padding-top: 10px;
    }

    .filter-category-header h3, .filter-tags-header h3 {
      color: #7D7D7D;
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }

    .filter-category-body, .filter-tags-body {
      display: flex;
      padding: 5px 0;
    }

    .filter-category-body p, .filter-tags-body p {
      display: inline-block;
      padding: 2px 5px;
      background: #B1B1B1;
      color: #FFFFFF;
      border-radius: 15px;
      margin: 0;
    }

    .filter-tags-body {
      display: flex;

      .tag {
        display: flex;
      }

      .content {
        display: inline-block;
        background: #B1B1B1;
        color: #FFFFFF;
        border-radius: 15px 0 0 15px;
        margin: 0;
      }

      .close {
        display: inline-block;
        background: #B1B1B1;
        color: #FFFFFF;
        padding: 2px 10px 0 0;
        border-radius: 0 15px 15px 0;
        margin: 0;
      }
    }

    .btn {
      border: #CDCDCD solid 1px;
      background: #CDCDCD;
      margin: 0;
      padding: 5px;
      width: 100%;
    }
  }
}
