{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Страница добавления предмета</h1>
    <h3>Категория {{ category }}</h3>
    {# форма отвечающеая за статическую часть #}
    <form action="{% url 'item_add_admin' pk %}" class="form-horizontal" method="POST">
        {% csrf_token %}
        {% for field in item_form %}
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
            </div>
        {% endfor %}

    {# Форма отвечающая за динамическую часть #}
        {% for field in dynamic_item_form %}
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
            </div>
        {% endfor %}
        <button type="submit">Добавить предмет</button>
    </form>
</body>
</html>
