.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 99%;

  .card {
    width: 200px;
    flex-direction: column;
    overflow: fragments;
    margin: 3%;
    justify-content: space-around;

    img {
      cursor: pointer;
    }

    .img-responsive {
      display: flex;
      justify-content: center;
      align-self: center;
    }

    .card-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  .mat-card {
    border-radius: 0;
  }

  .mat-card-content {
    h5,h6,p {
      padding: 0.3em 0;
    }

    h5 {
      font-size: 2em;
      margin: 0;
    }
    h6 {
      font-size: 1.3em;
      margin: 0;
    }
    p {
      font-size: 1em;
      color: #8c8c8c;
    }
  }

  .mat-card-footer {
    padding: 15px;

    .tag {
      display: inline-block;
      padding: 5px;
      background: #B1B1B1;
      color: #FFFFFF;
      border-radius: 15px;
    }

    p {
      margin: 0;
    }
  }
}

.container-plug-empty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  img {
    width: 100%;
    min-width: 150px;
    max-width: 450px;
    padding: 5% 5% 1% 5%;
  }

  .container-plug-empty {
    padding: 20%;
  }

  p {
    text-align: center;
  }
}
