<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="getNextItemsOnScroll()"
>
  <div class="card-container" *ngIf="items && items.length != 0; else noItems">
    <mat-card class="card" *ngFor="let item of items">
      <div class="card-image" *ngIf="item.photos.length != 0; else noPhoto">
        <img mat-card-image src="http://127.0.0.1:8000{{ item.photos[0].photo_file }}" alt="" class="img-responsive"
             (click)="itemClicked(item)">
      </div>

      <ng-template #noPhoto>
        <div class="card-image" >
          <img mat-card-image src="http://127.0.0.1:8000/static_content/plugs/photo_thumbnail.png" alt="" class="img-responsive"
               (click)="itemClicked(item)">
        </div>
      </ng-template>

      <mat-card-content>
        <h5 class="card-title">{{ item.name }}</h5>
        <h6 class="card-subtitle text-muted"> {{ item.category }} </h6>
        <p> {{ item.room }} </p>
      </mat-card-content>

      <mat-card-footer>
        <div class="tag">
          <p>Tags</p>
        </div>
      </mat-card-footer>

    </mat-card>
  </div>
</div>
<ng-template #noItems>
  <div class="container-plug-empty">
    <img src="http://127.0.0.1:8000/static_content/plugs/empty_container.png" alt="">
    <p>Здесь пусто</p>
    <p>Давайте наполним контейнер</p>
  </div>
</ng-template>

