.header-nav-panel {
  position: fixed;
  display: flex;
  padding: 5px 0;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  background: #c4c4c4;
  z-index: 1;

  .apps-bar {
    width: 35px;
    height: 35px;
    background: #868787;
    display: flex;
    justify-content: flex-start;
  }

  .user-bar {
    display: flex;
    justify-content: flex-end;

    .user-bar-fullname {
      align-self: center;
      padding: 0 10px 0 0;
    }

    .user-bar-img {
      width: 35px;
      height: 35px;
      border-radius: 100px;
    }
  }

  .apps-bar,.user-bar {
    margin: 0 25px;
  }
}

