<div class="header-nav-panel">
  <div class="apps-bar"></div>
  <div class="user-bar">
    <p class="user-bar-fullname">Фамилия Имя</p>
    <a href="">
      <img src="" alt="" class="user-bar-img">
    </a>
  </div>
</div>
